h1 {
	text-align: center;
}

p {
	text-align: left;
}


.uncssrule,    rule2{	border: 0;	text-align: left;}

body{
	background-color: #fefefe;
}


body >   .container {
  padding: 60px 15px 0;
}

.footer >    .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#trace {
  font-size: 70%;
  text-align: center;
  line-height: 15px;
}


@media screen and (min-width: 1200px) {
	code {
	  font-size: 80%;
	}

	#trace{
		position: absolute;
		margin: 20px auto 0 auto;
		left: calc( 50% - 170px);	
	}
}

@media screen and (min-width: 700px) {
	code {
	  font-size: 50%;
	}

	#trace{
		position: absolute;
		margin: 10px auto 0 auto;
		left: calc( 20% - 170px);	
	}
}



.mkdf-smooth-transition-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	bottom: 0;	z-index: 2000;
}

.mkdf-smooth-transition-loader.mkdf-hide-spinner    .mkdf-st-loader {
	display: none;
}

.mkdf-st-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2100;
}

.mkdf-st-loader1 {
	position: relative;
	height: 100%;
}

.mkdf-st-loader   .two_rotating_circles {
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	position: relative;
	text-align: center;
	-webkit-animation: rotatecircles 2s infinite linear;
	animation: rotatecircles 2s infinite linear;
}

.mkdf-st-loader .two_rotating_circles .dot1,.mkdf-st-loader .two_rotating_circles .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #1A9F29;
	border-radius: 100%;
	-webkit-animation: bounce 2s infinite ease-in-out;
	animation: bounce 2s infinite ease-in-out;
}

.mkdf-st-loader .two_rotating_circles .dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

@-webkit-keyframes rotatecircles {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotatecircles {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.mkdf-element-from-bottom,.mkdf-element-from-fade,.mkdf-element-from-left,.mkdf-element-from-right,.mkdf-element-from-top,.mkdf-st-loader1 {
	width: 100%;
	display: inline-block;
}

@-webkit-keyframes bounce {
	0%,100% {
		-webkit-transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
	}
}

@keyframes bounce {
	0%,100% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}

	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.mkdf-smooth-transition-loader {
	background-color: #ffffff;
}

